// Colors
$red: #FF5252;
$lightred: #f74672;
$green: #00ca72;
$lightgreen: #17eb8f;
$neongreen: #00ffc2;
$yellow: #ffcc00;
$black: #333333;
$grey: #525252de;
$lightgrey: #B1B1B1;
$verylightgrey: #f2f5fb;
$white: #f9f9f9;
$lightblue: #61aef7;
$blue: #0085ff;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-sm-breakpoint: 960px;
$desktop-md-breakpoint: 1280px;
$desktop-lg-breakpoint: 1600px;
